body {
    font-family: "Lekton";
    color: #606060;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    overflow-x: hidden;
    user-select: none;
}

h1 {
    color: #47b07a;
}

h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 15px !important;
    color: #606060;
}

h3 {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 1.3rem;
}

.title-medium {
    margin-block-end: 0;
    margin-block-start: 0;
    margin: 5px;
}

.title-large {
    margin-top: 50px;
    font-weight: bolder;
    font-size: 3rem;
}

.nav {
    margin: 0 auto;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.5rem;
    margin-top: 10px;
    transition: all 0.2s ease-out;
}

.link-title {
    width: 100%;
}

.link-title>a {
    font-size: 1.5rem;
    display: none;
}

.link-title:hover>a {
    display: inline;
    position: relative;
    bottom: 2px;
}

a {
    color: #606060;
}

a:hover {
    color: #47b07a;
}

.post_body_image {
    position: relative;
    width: 100%;
    height: auto;
}

p {
    font-size: 1.5rem;
}